@{
    ViewBag.Title = "About Maersk";
}
<h2>@ViewBag.Title</h2>


<p>The Maersk Group is a worldwide conglomerate that operates in some 130 countries with a workforce of over 89,000 employees. Owning the world’s largest container shipping company, Maersk is involved in a wide range of activities in the shipping, logistics, and the oil and gas industries.</p>
