
@{
    ViewBag.Title = "Agent";
}

<h2>Agent</h2>

@Html.ActionLink("New Shipment", "Create", "Shipments", null, new { @class = "btn btn-primary btn-lg" })
@Html.ActionLink("New Customer", "Create", "Customers", null, new { @class = "btn btn-primary btn-lg" })
@Html.ActionLink("View Shipping Schedule", "Index", "Schedules", null, new { @class = "btn btn-primary btn-lg" })

