@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>


<address>
    Headquarters office<br />
    The Maersk Group<br />
    Esplanaden 50<br />
    1098 Copenhagen K<br />
    Denmark<br />
    <abbr title="Telephone">Telephone:</abbr>
    +45 33 63 33 63
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@maersk.com">Support@maersk.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@maersk.com">Marketing@maersk.com</a>
</address>