
@{
    ViewBag.Title = "Employee";
}

<h2>Employee</h2>

@Html.ActionLink("New Schedule", "Create", "Schedules", null, new { @class = "btn btn-primary btn-lg" })
@Html.ActionLink("Fleet Details", "Index", "Fleets", null, new { @class = "btn btn-primary btn-lg" })
@Html.ActionLink("Today's Shipment", "Index", "Shipments", null, new { @class = "btn btn-primary btn-lg" })

